@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
}

:root{
  --bg-color: hsl(180, 52%, 96%);
  --bg-element: hsl(180, 31%, 95%);
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

.filter__container{
  background-image: url("./images/bg-header-desktop.svg");
}

.filter{
  background-color: white;
  min-height: 60px;
  margin-bottom: -40%;   
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 327px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: start;
  margin-bottom: 5rem;
}

.filter__element{}

.filter__element:first-child{
  margin-left: 20px;
}

.jobs{
  background-color: var(--bg-color);
}

.jobs__list{
  margin-bottom: 3rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.job__item{
  background-color: white;
  padding: 16px;
  margin: 0 165px;
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.company__wrapper{
  display: flex;
  flex-direction: row;
}

.company{
  font-size: 1rem;
  color: var(--desaturated-dark-cyan);
  margin-top: 8px;
  margin-right: 33px;
}

.new{
  background-color: var(--desaturated-dark-cyan);
  text-transform: uppercase;
  color:white;
  border-radius: 20px;
}

.featured{
  border-left: 4px solid var(--desaturated-dark-cyan);
}

.featured__label{
  background-color: var(--very-dark-grayish-cyan);
  text-transform: uppercase;
  color:white;
  border-radius: 20px;
}

.labels{
  display: flex;
  flex-direction: row;
  gap:8px;
}

.label{
  font-size: 0.8rem;
  padding: 0.5rem;
}

.job__item:first-child{
  margin-top: 3rem;
}
.job__description{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.job__image{
  padding-right: 25px;
}

.position{
  font-size: 1.2rem;
  margin-top: 9px;
}

.position:hover{
  color: var(--desaturated-dark-cyan);
  cursor: pointer;
}

.job__skills{
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.job__element{
  background-color: var(--bg-element);
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: var(--desaturated-dark-cyan);
  gap: 2rem;
}

.job__type{
  margin-top: 9px;
  display: flex;
  gap: 1rem
}

@media screen and (max-width: 480px){
  .filter__container{
    background-image: url("./images/bg-header-mobile.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 156px;
  }
  
  .filter{
    min-width: 327px;
    height: 60px;
    margin-bottom: -40%;   
  }
  
  
  .job__item{
    margin: 0 24px;
    display: flex;
    flex-direction: column;
  }
  
  .job__description{
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
  }
  .job__image img{
    width: 48px;
    height: 48px;
    margin-top: -90%;
  }

  .company{
    font-size: 0.75rem;
  }

  .position{
    font-size: 0.9rem;
  }

}